
<div class="container">
    <div class="row">
        <div class="col-3 vh-80">
            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 15%px;">
                <div class="list-group list-group-flush border-bottom scrollarea">
                    <a href="#" class="list-group-item list-group-item-action active py-3 lh-sm bg-success text-white">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="nb-1">Cyril DA</strong>
                            <small>Date</small>
                        </div>
                        <br>
                        <div class="col-10 mb-1 small">Dernier message :</div>
                    </a>

                </div>
            </div>
        </div>
        <div class="col-9 border">
            <div id="head" class="py-3 lh-sm border-bottom">
                <div class="mb-1">Membre(s) du chat : </div>
            </div>

            <div id="conversation">
                @for(message of messages; track message){
                    <div class="row pt-2">
                        <div class="col-6">
                            <div class="alert alert-success d-inline-block" role="alert">
                               {{message}} <!-- Need to find how to list the message coming from the server ! -->
                            </div>
                        </div>
                        <div class="col-6"></div>
                    </div>
                }
                
                <!-- <div class="row pt-2">
                    <div class="col-6"></div>
                    <div class="col-6">
                        <div class="alert alert-warning d-inline-block float-end" role="alert">
                            Bonjour
                        </div>
                    </div>
                   
                </div> -->
            </div>
            <form id="reponse" class="p-3 w-100" [formGroup]="form" (submit)="submit()">
                <div class="input-group">
                <input type="text" class="form-control" placeholder="Réponse .." formControlName="message"/>
                </div>
            </form>
        </div>
    </div>
</div>

