<div class="card">
    <div class="card-header text-white bg-success">
        Formulaire Template
    </div>
    <div class="card-body">
        
<!-- novalidate demande au formulaire de ne pas se valider avec la validation html mais avec angular -->
        <form (ngSubmit)="saveFromData(registerForm)" #registerForm="ngForm" [noValidate]="registerForm">

            <div class="form-group row mb-3">
                <div class="col-md-6 mb-3">
                    <label>Nom :</label>
                    <input type="text" class="form-control" 
                            name="nom" 
                            required ngModel
                            minlength="4" maxlength="21"
                            pattern="[a-zA-Z ]+"
                            #nomNgForm="ngModel">
                
                <div *ngIf="nomNgForm.invalid && (nomNgForm.dirty || nomNgForm.touched)">
                    <div *ngIf="nomNgForm.errors?.['minlength']"><small>Entre 4 et 21 caractères</small></div>
                    <div *ngIf="nomNgForm.errors?.['required']"><small>Oups , vous n'avez pas renseigné votre Nom de Famille!!</small></div>
                    <div *ngIf="nomNgForm.errors?.['pattern']"><small>Le nom ne peut contenir que des lettres de l'alphabet !!</small></div> 
                </div>

                </div>
<!-- =============================================== -->
                <div class="col-md-6 mb-3">
                    <label>Prénom :</label>
                    <input type="text" class="form-control" 
                            name="prenom" 
                            required ngModel
                            minlength="4" maxlength="21"
                            pattern="[a-zA-Z ]+"
                            #prenomNgForm="ngModel">

                <div *ngIf="prenomNgForm.invalid && (prenomNgForm.dirty || prenomNgForm.touched)">
                    <div *ngIf="prenomNgForm.errors?.['minlength']"><small>Entre 4 et 21 caractères</small></div>
                    <div *ngIf="prenomNgForm.errors?.['required']"><small>Oups , vous n'avez pas renseigné votre Prénom !!</small></div>
                    <div *ngIf="prenomNgForm.errors?.['pattern']"><small>Le nom ne peut contenir que des lettres de l'alphabet !!</small></div> 
                </div>

                </div>

            </div>
<!-- =============================================================================================== -->
            <div class="form-group col-md-12 mb-3">
                    <label>Email :</label>
                    <input type="email" class="form-control" 
                            name="email" 
                            required ngModel
                            pattern="^[^\W][a-zA-Z0-9\-\._]+[^\W]@[^\W][a-zA-Z0-9\-\._]+[^\W]\.[a-zA-Z]{2,6}$"
                            #emailNgForm="ngModel">

                <div *ngIf="emailNgForm.invalid && (emailNgForm.dirty || emailNgForm.touched)">         
                    <div *ngIf="emailNgForm.errors?.['required']"><small>Oups , vous n'avez pas renseigné votre Email !!</small></div>
                    <div *ngIf="emailNgForm.errors?.['pattern'] || emailNgForm.errors?.['email']"><small>Vérifiez !! Il doit y avoir une erreur ..</small></div> 
                </div>

            </div>
<!-- =============================================================================================== -->
            <div ngModelGroup="passwordGroup" #passwordGroup="ngModelGroup">
            <div class="row mb-3">
                <div class="form-group col-md-6 mb-3">
                    <label>Mot de passe :</label>
                    <input type="password" class="form-control"
                            name="password" 
                            required ngModel
                            minlength="12"
                            pattern = "^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=])(?=\S+$).{12,}$"
                            #passwordNgForm="ngModel">    
                </div>
<!-- =============================================== -->
 
                <div class="form-group col-md-6 mb-3">
                    <label>Confirmation :</label>
                    <input type="password" class="form-control"
                            name="confirmPass"
                            required ngModel
                            #confirmPassNgForm="ngModel">

                <div *ngIf="(passwordGroup.invalid || passwordGroup.value?.password !== passwordGroup.value?.confirmPass) && ( emailNgForm.touched || emailNgForm.dirty)">         
                    <div *ngIf="passwordGroup.invalid ; else noMatch"><small>Il faut 12 caractères minimum !</small></div>
                    <ng-template #noMatch>Les mots de passes ne sont pas identique !!</ng-template>
                </div>
                <br>
                <div class="d-flex justify-content-end">
                    <button [disabled]="registerForm.invalid || passwordGroup.value?.password !== passwordGroup.value?.confirmPass"  type="submit" class="btn btn-outline-success ml-auto">Sauvegarder</button>
                </div>
                </div>
<!-- =============================================================================================== -->     
                                
                               
                
            </div>           
            </div>
            </form>