<div class="card">
    <div class="card-header text-white bg-success">
        Formulaire Template
    </div>
    <div class="card-body">
        <!-- <form (ngSubmit)="saveFromData()"> -->
        <form (ngSubmit)="saveFromData(registerForm)" #registerForm="ngForm">
            <div class="row mb-3">
                <div class="col-md-6 mb-3">
                    <label>Nom :</label>
                    <input type="text" class="form-control" [(ngModel)]="user.nom" name="nom"/>
                    </div>
                <div class="col-md-6 mb-3">
                    <label>Prénom :</label>
                    <input type="text" class="form-control" [(ngModel)]="user.prenom" name="prenom"/>
                </div>
            </div>
        <div class="col-md-6 mb-3">
            <label>Email :</label>
            <input type="email" class="form-control" [(ngModel)]="user.email" name="email"/>
        </div>
        <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-success ml-auto">Sauvegarder
        </button>
        </div>
        </form>
    </div>
</div>
